<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <dd><%= strip_tags(@product.description) %></dd>
</p>

<%= image_tag(@product.image_url, class: 'list_image') %>


<p>
  <strong>Price:</strong>
  <span class="price"><%= number_to_currency(@product.price) %></span>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
